<!DOCTYPE html>

<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
    <!-- Meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Dashboard Main</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="app/css/bootstrap.css">
    <!-- Vendor CSS-->
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/animo/animate+animo.css">
    <link rel="stylesheet" href="vendor/csspinner/csspinner.min.css">

    <!-- Custom CSS-->

    <!-- App CSS-->
    <link rel="stylesheet" href="app/css/app.css">
    <!-- Modernizr JS Script-->
    <script src="vendor/modernizr/modernizr.js" type="application/javascript"></script>
    <!-- FastClick for mobiles-->
    <script src="vendor/fastclick/fastclick.js" type="application/javascript"></script>

    <!-- Luis Added for Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
</head>

<body>
<!-- Main wrapper-->
<section class="wrapper">
    <!-- Top Navbar-->
    <nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
        <!-- Navbar header-->
        <div class="navbar-header">
            <a href="/profile" class="navbar-brand">
                <div class="brand-logo">SPORTS</div>
                <div class="brand-logo-collapsed"></div>
            </a>
        </div>
        <!-- END navbar header-->

        <!-- START Nav wrapper-->

        <div class="nav-wrapper">
            <!-- START Left navbar-->
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-toggle="aside">
                        <em class="fa fa-align-left"></em>
                    </a>
                </li>
                <!-- <form method="post" action="/team"> -->
	                <li>
	                    <button type="submit" class="btn btn-default" id="teamBtn">
	                        <strong>TEAMS</strong>
	                    </button>
	                   <!-- <input id="searchTeam" class="searches" type="text" placeholder="Search by Team" name="teamSearch"> -->
	                </li>
	            <!-- </form> -->
	         <!--   <form method="post" action="/player">   -->  
	                <li>
	                    <button type="submit" class="btn btn-default" id="playerBtn">
	                        <strong>PLAYERS</strong>
	                    </button>
	                   <!-- <input id="searchPlayers" class="searches" type="text" placeholder="Search by Players" name="playerSearch"> -->
	                </li>
	            <!-- </form> -->
	           <!--  <form method="post" action="/position"> -->
	                <li>
	                    <button type="submit" class="btn btn-default" id="positionBtn">
	                        <strong>POSITIONS</strong>
	                    </button>
	                   <!-- <input id="searchPosition" class="searches" type="text" placeholder="Search by Position" name="positionSearch"> -->
	                </li>
               <!-- </form> -->

                <!-- ADD BUTTTONS HERE-->
<!--                 <li>
                    <a href="#" data-toggle="navbar-search">
                        <em class="fa fa-search"></em>
                    </a>
                </li> -->
            </ul>

            <form method="post" action="/team">
                <input id="searchTeam" class="searches" type="text" placeholder="Search by Team" name="teamSearch">
            </form>
            <form method="post" action="/player">
                <input id="searchPlayers" class="searches" type="text" placeholder="Search by Players" name="playerSearch">
            </form>
            <form method="post" action="/position">
                <input id="searchPosition" class="searches" type="text" placeholder="Search by Position" name="positionSearch">
            </form>

            <!-- END Left navbar-->

            <!-- START Right Navbar-->
            <!-- <ul class="nav navbar-nav navbar-right">
                <! PUT USER AVATAR HERE-->
            <!-- </ul> --> 
            <!-- END Right Navbar-->

        </div>
        <!-- END Nav wrapper-->
        <!-- START Search form-->
       <!--  <form role="search" class="navbar-form">
            <div class="form-group has-feedback">
                <input type="text" placeholder="Type and hit Enter.." class="form-control" name="">
                <div data-toggle="navbar-search-dismiss" class="fa fa-times form-control-feedback"></div>
            </div>
            <button type="submit" class="hidden btn btn-default">Submit</button>
        </form> -->
        <!-- END Search form-->
    </nav>
    <!-- END Top Navbar-->
    <!-- START aside-->
    <aside class="aside">
        <!-- START Sidebar (left)-->
        <nav class="sidebar">
            <ul class="nav">
                <!-- START user info-->
                <li>
                    <div data-toggle="collapse-next" class="item user-block has-submenu">
                        <!-- User picture-->
                        <div class="user-block-picture">
                            <img src="http://via.placeholder.com/150x150" alt="Avatar" width="60" height="60"
                                 class="img-thumbnail img-circle">
                            <!-- Status when collapsed-->
                            <div class="user-block-status">
                                <div class="point point-success point-lg"></div>
                            </div>
                        </div>
                        <!-- Name-->
                        <div class="user-block-info">
                            <span class="user-block-name item-text">Welcome, {{{name}}}</span>
                        </div>
                    </div>
                </li>
                <!-- END user info-->

                <!-- START Menu-->
                <!-- TEAMS-->
                <li class="active">
                    <a href="#" title="Dashboard" data-toggle="collapse-next" class="has-submenu">
                        <div class="label label-primary pull-right"></div>
                        <span class="item-text">Teams</span>
                    </a>

                    <!-- TEAMS SubMenu item-->

                    <ul class="nav collapse in">
                    <li>
                    <a href="#" title="Default" data-toggle="" class="no-submenu">
                    <span class="item-text">{{this.favorite_teams}}</span>
                    </a>
                    </li>
                    </ul>
                    <!-- END TEAMS SubMenu item-->
                </li>
                <!-- PLAYERS-->
                <li>
                    <a href="#" title="Players" data-toggle="collapse-next" class="has-submenu">
                        <span class="item-text">Players</span>
                    </a>
                    <!-- START PLAYERS SubMenu item-->
                    <ul class="nav collapse ">
                    <li>

                    <a href="chart-flot.html" title="player1" data-toggle="" class="no-submenu">
                    <span class="item-text"></span>
                    </a>
                    </li>
                    <li>
                    <a href="chart-radial.html" title="player2" data-toggle="" class="no-submenu">
                    <span class="item-text"></span>

                    </a>
                    </li>
                    </ul>
                    <!-- END SubMenu item-->


                <!-- END Menu-->
                <!-- Sidebar footer    -->
                <li class="nav-footer">
                    <div class="nav-footer-divider"></div>
                    <!-- START button group-->
                    <div class="btn-group text-center">
                        <button type="button" data-toggle="tooltip" data-title="Settings" class="btn btn-link">
                            <em class="fa fa-cog text-muted"></em>
                        </button>
                        <button type="button" data-toggle="tooltip" data-title="Logout" class="btn btn-link">
                            <em class="fa fa-sign-out text-muted"></em>
                        </button>
                    </div>
                    <!-- END button group-->
                </li>
            </ul>
        </nav>
        <!-- END Sidebar (left)-->
    </aside>
    <!-- End aside-->
    <!-- START Main section-->
    <section>
    {{{body}}}
        <!-- START Page content-->
        <!--<section class="main-content">-->
        <!--<h3>-->
        <!--Dashboard-->
        <!--<br>-->
        <!--<small>Welcome Kind Heart Warming Soul</small>-->
        <!--</h3>-->
        <!--</section>-->
        <!-- END Page content-->
    </section>
    <!-- END Main section-->
</section>



<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugins-->
<script src="vendor/chosen/chosen.jquery.min.js"></script>
<script src="vendor/slider/js/bootstrap-slider.js"></script>
<script src="vendor/filestyle/bootstrap-filestyle.min.js"></script>
<!-- Animo-->
<script src="vendor/animo/animo.min.js"></script>
<!-- Sparklines-->
<script src="vendor/sparklines/jquery.sparkline.min.js"></script>
<!-- Slimscroll-->
<script src="vendor/slimscroll/jquery.slimscroll.min.js"></script>

<script>

$(document).ready(function(){
    $("#searchTeam").toggle();
    $("#teamBtn").on("click", function(event) {
        event.preventDefault();
        $("#searchTeam").toggle(500);
  });

    $("#searchPlayers").toggle();
    $("#playerBtn").on("click", function(event) {
        event.preventDefault();
        $("#searchPlayers").toggle(500);
    });

    $("#searchPosition").toggle();

    $("#positionBtn").on("click", function(event) {
        event.preventDefault();
        $("#searchPosition").toggle(500);
  });  
});



</script>

<!-- App Main-->
<script src="app/js/app.js"></script>
<!-- END Scripts-->
</body>
</html>