<!DOCTYPE html>

<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
    <!-- Meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Login</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../app/css/bootstrap.css">
    <!-- Vendor CSS-->
    <link rel="stylesheet" href="../vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/animo/animate+animo.css">
    <!-- App CSS-->
    <link rel="stylesheet" href="../app/css/app.css">
    <!-- Modernizr JS Script-->
    <script src="../vendor/modernizr/modernizr.js" type="application/javascript"></script>
    <!-- FastClick for mobiles-->
    <script src="../vendor/fastclick/fastclick.js" type="application/javascript"></script>
</head>
    <title>Fantasy Team</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
    </style>
</head>
<body>
{{{body}}}

<!-- START Scripts-->
<!-- Main vendor Scripts-->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Animo-->
<script src="../vendor/animo/animo.min.js"></script>
<!-- Custom script for pages-->
<script src="../app/js/pages.js"></script>
<!-- END Scripts-->
</body>
</html>