
<!--<div class="container">-->

    <!--<div class="jumbotron text-center">-->
        <!--<h1><span class="fa fa-lock"></span> Node Authentication</h1>-->

        <!--<p>Login or Register with:</p>-->

        <!--<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>-->
        <!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>-->
    <!--</div>-->

<!--</div>-->

<head>
    <!-- Meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Fantasi</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../app/css/bootstrap.css">
    <!-- Vendor CSS-->
    <link rel="stylesheet" href="../vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/animo/animate+animo.css">
    <!-- App CSS-->
    <link rel="stylesheet" href="../app/css/app.css">
    <!-- Modernizr JS Script-->
    <script src="../vendor/modernizr/modernizr.js" type="application/javascript"></script>
    <!-- FastClick for mobiles-->
    <script src="../vendor/fastclick/fastclick.js" type="application/javascript"></script>
    <link rel="stylesheet" href="../app/css/landing.css">
</head>

<!-- START wrapper-->
<header>
    <div class="container">
        <nav class="row">
            <div class="col-md-2 app-logo">
                <a href="#" class="logo-wrapper">
                <img src="../app/img/logoname.png" alt="App Name" class="img-responsive">
                </a>
            </div>
            <div class="col-md-10">
                <ul class="list-inline app-buttons">
                    <li>
                        <a href="/login"" class="btn btn-primary btn-fw">
                            <strong>Login</strong>
                        </a>
                    </li>
                    <li>
                        <a href="/signup" class="btn btn-espnred btn-fw">
                            <strong>Sign Up</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header-content">
            <div class="row row-flush row-table">
                <div class="col-xs-12 col-lg-6 align-middle">
                    <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" class="browser-presentation">
                        <img src="../app/img/landing/chrome-app.png" alt="App Name" class="img-responsive">
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 align-middle">
                    <div class="side-presentation">
                        <h1 class="text-lg"> Gain an edge in your Fantasy Football</h1>
                        <p class="lead">Player-specific stats from current and past NFL seasons, organized by season, team, and position.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="clients">
    <div class="container">
        <h2 class="section-header">Working with the best
            <br>
            <small class="text-muted text-center">The best choice for your next team.</small>
        </h2>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/jquery.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/node.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/gulp.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/jade.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/less.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/bootstrap.png" alt="client" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<footer class="footer-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p>Copyright 2017 | <a href="#">UCF Coding Bootcamp </a>| <a href="#">FANTASI</a>
                </p>
            </div>
            <div class="col-lg-4 logo-column">
                <a href="#" >
                </a>
            </div>
            <div class="col-lg-4">
                <p>Crafted with
                    <em class="fa fa-heart text-danger fa-fw"></em> from the Fantasi Team</p>
            </div>
        </div>
    </div>
</footer>
<!-- END wrapper-->