
<section>
    <!-- START Page content-->
    <section class="main-content">
        <!-- START row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h1 class="welcome">Welcome <em class="fa fa-flag"></em></h1>
                        <p class="welcomep">You're about to create your first fantasy team. <br>
                            Start by searching for team, player or position at the top.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END Page content-->
</section>