
<!-- START wrapper-->
<div style="height: 100%; padding: 50px 0; background-color: #2c3037" class="row row-table">
    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-middle">
        <!-- START panel-->
        <div data-toggle="play-animation" data-play="zoomIn" data-offset="0" data-duration="300" class="panel panel-default panel-flat">
            <p class="text-center mb-lg">
                <br>
                <a href="#">
                    <img src="../app/img/logo.png" alt="Image" class="block-center img-rounded">
                </a>
            </p>
            <p class="text-center mb-lg">
                <strong>SIGNUP</strong>
                <p class="signwarning">{{this.data}}</p>
            </p>
            <div class="panel-body">
                <form role="form" method="post" action="/signup">
                    <!--FIRST NAME-->
                    <div class="form-group has-feedback">
                        <label for="signupInputEmail1" class="text-muted">Full Name</label>
                        <input id="signupInputEmail1" type="text" placeholder="Enter full name" class="form-control" name="name">
                    </div>
                    <!--EMAIL-->
                    <div class="form-group has-feedback">
                        <label for="signupInputEmail1" class="text-muted">Email address</label>
                        <input id="signupInputEmail1" type="email" placeholder="Enter email" class="form-control" name="emailAddress">
                    </div>
                    <!--PASSWORD-->
                    <div class="form-group has-feedback">
                        <label for="signupInputPassword1" class="text-muted">Password</label>
                        <input id="signupInputPassword1" type="password" placeholder="Password" class="form-control" name="password">
                    </div>
            <div class="pull-center"><a href="/login" class="text-muted">Already a memeber?
                Login</a>
            </div>
                    <button type="submit" class="btn btn-block btn-espnred">Register</button>
                </form>
            </div>
        </div>
        <!-- END panel-->
    </div>
</div>
<!-- END wrapper-->